/* .hero {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20220611/pngtree-herbs-and-spices-on-black-background-for-recipes-photo-photo-image_31377194.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 0;
} */
